@using StockPortfolio.Core.Models;
@model Portfolio;

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col-md-4 offset-4">
            <form asp-action="UpdatePortfolio" asp-controller="Portfolio" method="post">
                <div class="form-group">
                    <input type="hidden" name="PortfolioId" value="@Model.PortfolioId">
                    <label asp-for="PortfolioName">PortfolioName</label>
                    <input asp-for="PortfolioName" type="text" class="form-control" placeholder="@Model.PortfolioName">
                    <span asp-validation-for="PortfolioName" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Balance">Balance</label>
                    <input asp-for="Balance" type="number" class="form-control" placeholder="@Model.Balance">
                    <span asp-validation-for="Balance" class="text-warning"></span>
                </div>
                <br />
                <div class="form-group row-cols-1">
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </div>
            </form>
            <br />
            <div>
                <form asp-action="DeletePortfolio" asp-controller="Portfolio" method="post">
                <div class="form-group row-cols-1">
                    <input type="hidden" name="PortfolioId" value="@Model.PortfolioId">
                    <button type="submit" class="btn btn-danger">Delete Portfolio</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>