@model LoginViewModel;
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <form>
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label asp-for="RememberMe" typeof="checkbox" class="form-check">Remember Me?</label>
                    <input asp-for="RememberMe" type="text" class="form-control" placeholder="RememberMe">
                </div> 
            </div>
            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Login</button>
            </div>"
        </form>
    </div>
</div>